.fira-sans-font {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    /* align-items: center; */
    margin: 120px 160px;
    padding: 117px 100px;
    /* gap: 64px; */
    /* text-align: center; */
    

}
.banner-content{
    margin-right: 64px;
    
}
.banner-title{
    font-weight: 500px;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
}
.banner-description{
    font-weight: bold;
    font-size: 56px;
    width: 600px;
    /* margin-left: 100px; */

    
    
}
.banner-button{
    background-color: #006A50;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 17px 34px;
    border: none;
}
.banner-pic{
    width: 600px;
}
.banner-content{
    width: 500px;
}
/* vision styles */
.future{
    margin: 120px 160px;
    
    
}

.future-btn{
    background-color: #5490F5;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none; 
}
.future-btn1{
    background-color: #09A15C;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
    /* margin: 50px 50px 30px 30px; */
    
}
.future-btn2{
    background-color: #FFC239;
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
}
.future-contain{
    display: flex;
    gap: 24px;
       
}
.future-one{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px 32px 121px 32px;
    border-radius: 16px;
}
.future-two{
    background-color: rgba(198, 228, 214, 1);
    padding: 32px 32px 121px 32px;
    border-radius: 16px;

}
.future-three{
    background-color: rgba(247, 235, 207, 1);
    padding: 32px 32px 121px 32px;
    border-radius: 16px;
}
/* section style */
.society{
    background-image: url("assets/quote-bg.png");
    background-position: 28px 14px;
    background-repeat: no-repeat;
    border: 2px solid rgba(241, 241, 243, 1);
    border-radius: 16px;
    padding: 28px 28px;
    /* margin-top: 32px; */
    margin-top: 32px;
    
}

/* news */

.satellite-border{
    display: flex;
    border: 2px solid rgba(241, 241, 243, 1);
    border-radius: 16px;
    padding: 48px 48px;
    gap: 50px;
}
.satellite-border-one{
    display: flex;
    border: 2px solid rgba(241, 241, 243, 1);
    border-radius: 16px;
    padding: 48px 48px;
    gap: 50px;
}

.news-title{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 2px;
}
.news-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    
}
.satellite-img{
    border-radius: 24px;
    width: 450px;
}
.satellite-title{
    margin-top: 5px;
}
.satellite-btn{
    margin-bottom: 3px;
}
/* rising */
.rising-title{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
.rising-description{
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    width: 1500px;
}
.rising-box{
    display: flex;
    justify-content: center;
    gap: 90px;
    width: 1500px;
    margin-top: 50px;
    
}
.money{
    font-weight: bold;
    font-size: 40px;
    border: 2px solid rgba(241, 241, 243, 1);
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 40px;
    border-radius: 16px; 
}
.money-two{
    font-weight: bold;
    font-size: 40px;
    border: 2px solid rgba(241, 241, 243, 1);
    background-color: rgba(198, 228, 214, 1);
    padding: 40px 40px;
    border-radius: 16px;
}
.rising-input{
    width: 1300px;
    height: 60px;
    margin: 24px 90px;
    border: 2px solid rgba(241, 241, 243, 1);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 18px;
}
.donet-btn{
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
    
}
.class-btn{
    text-align: center;
    padding: 0 110px 0 0;
}
::placeholder{
    color: rgba(14, 14, 14, 0.3);
}
/* footer styles */
.hold{
    text-align: center;
    justify-content: center;
    border: 2px solid rgba(241, 241, 243, 1);
    background-color: rgba(198, 228, 214, 1);
    border-radius: 16px;
    margin: 20px 160px;
    padding: 70px ;
    /* height: 300px; */
    
}
.fotter-title{
    font-weight: bold;
    font-size: 40px;
}
.fotter-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.last-btn{
    background-color: rgba(0, 106, 80, 1);
    border-radius: 0px 8px 8px 0px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 11px 20px;
    border: none;
    height: 50px;
    position: absolute;
    
}
.align{
    border-radius: 8px 0px 0px 8px;
    width: 560px;
    height: 50px;
    /* padding: 0 16px; */
    /* margin: 24px 90px; */
    /* border: 2px solid rgba(241, 241, 243, 1); */
    background-color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 18px;
    padding: 0px 0px 0px 50px;
    font-size: 18px;

}
.final{
    position: relative;
    margin-right: 110px;
    
    
}
.lion{
    color: rgba(14, 14, 14, 0.7);
}

.all-button:hover{
    background-color: violet;
}
.all-button-one:hover{
    background-color: aqua;
}
.btn-solve{
    background-color: #5490F5;
                    border-radius: 8px;
                    font-weight: 600px;
                    font-size: 16px;
                    color: #FFFFFF;
                    padding: 11px 20px;
                    border: none;
}
.btn-solve-one{
    background-color: #006A50;
                        border-radius: 8px;
                        font-weight: 600px;
                        font-size: 16px;
                        color: #FFFFFF;
                        padding: 11px 20px;
                        border: none;
}
.btn-solve-two{
    background-color: #006A50;
                    border-radius: 8px;
                    font-weight: 600px;
                    font-size: 16px;
                    color: #FFFFFF;
                    padding: 11px 20px;
                    border: none;
}